@keyframes ArrowToOpen {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes ArrowToClose {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes BlocCollapseOpen {
    from {
        position: relative;
        transform: translateY(-100%);
    }
    to {
        position: relative;
        transform: translateY(0);
    }
}

@keyframes BlocCollapseClose {
    0% {
        position: relative;
        transform: translateY(0);
        display: block;
    }
    99% {
        transform: translateY(-99%);
        display: block;
    }
    100% {
        position: relative;
        transform: translateY(-100%);
        display: none;
    }
}


.AnimationCollapseOpen {
    animation: ArrowToOpen 0.8s forwards;
}

.AnimationCollapseClose {
    animation: ArrowToClose 0.8s forwards;
}

.AnimationBlocCollapseOpen{
    animation: BlocCollapseOpen 1.5s forwards ease-in-out;
}

.AnimationBlocCollapseClose{
    animation: BlocCollapseClose 1.5s forwards ease-in-out;
}

.CollapseContainer {
    width: 45%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.CollapseContainerAbout {
    width: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    margin-top: 40px;
    overflow: hidden;
}

.CollapseTitle {
    position: relative;
    width: 100%;
    background-color: tomato;
    border-radius: 10px;
    display: flex;
    padding: 10px 0;
    z-index: 1;
}

.CollapseText {
    padding: 0 20px;
    flex: 1;
    text-align: left;
    font-weight: 500;
}

.CollapseToOpen, .CollapseToClose {
    padding: 0 20px;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}

.CollapseToOpen:hover, .CollapseToClose:hover {
    opacity: 1;
    cursor: pointer;
}

.CollapseToOpen img {
    height: 50%;
}

.CollapseToClose img {
    height: 50%;
    transform: rotate(180deg);
}

.CollapseDetailsOpen, .CollapseDetailsClose, .CollapseDetailsAbout {
    background-color: #f7f7f7;
    position: relative;
    margin-top: -10px;
    padding: 40px 20px 20px 20px;
    color: tomato;
    display: flex;
    flex-direction: column;
    align-items: top;
    text-align: left;
    border-radius: 10px;
}