.LocationStars {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
}

.LocationStar {
    width: 36px;
    text-align: center;
}

.LocationStar img {
    height: 75%;
}

@media screen and (max-width: 480px) {
    .LocationStars {
        padding: 10px 0;
    }

    .LocationStar {
        width: 30px;
        text-align: left;
    }
}