.TagContainer {
    background-color: tomato;
    border-radius: 20px;
    min-width: 100px;
    margin: 5px 10px 5px 0;
    padding: 2px 20px;
    color: white;
    font-size: 14px;
}

.Tag {
    width: fit-content;
    margin: auto auto;
}