.CardsBlock {
    margin-top: 40px;
    background-color: #f7f7f7;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
}

@media screen and (max-width: 480px) {
    .CardsBlock {
        margin-top: 5px;
        border-radius: 25px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        background: none;
        padding: 0;
    }    
}