.Collapses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px auto;
    width: 94%;
    max-width: 1280px;
    padding: 0 3%;
}

@media screen and (max-width: 600px) {
    .Collapses {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
    }
}