@keyframes AnimPic {
    0% {
        transform: scale(0.6);
    }
    75% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.LocationMainBloc {
    display: flex;
    color: tomato;
    width: 94%;
    max-width: 1280px;
    padding: 0 3%;
    margin: 0 auto;
}

.LocationInformation {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: tomato;
    margin: 10px 0 0 0;
}

.LocationDescription {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding: 20px 0;
}

.LocationName {
    font-size: 26px;
    font-weight: 500;
}

.Location {
    justify-content: center;
}

.LocationHostRating {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.LocationTags {
    display: flex;
    align-items: center;
}

.LocationHost {
    display: flex;
    flex: 1;
    align-items: center;
}

.LocationHostName {
    flex: 1;
    padding: 10px;
    width: 120px;
    text-align: right;
}

.LocationHostPic {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    padding: 10px;
    animation: AnimPic 0.8s forwards ease-in-out;
}

.NoHostPic {
    width: 64px;
    height: 64px;
    background-color: rgb(200, 200, 200);
    border-radius: 50%;
}

.LocationRating, .LocationTags {
    height: 50px;
}

@media screen and (max-width:480px) {
    .LocationMainBloc {
        display: flex;
        flex-direction: column;
        color: tomato;
        width: 90%;
        margin: auto;
    }

    .LocationTags {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .LocationHostName {
        padding: 10px 0 10px 10px;
        text-align: right;
    }

    .LocationHostPic {
        border-radius: 50%;
        width: 64px;
        height: 64px;
        animation: AnimPic 0.8s forwards ease-in-out;
    }

    .LocationHostRating {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin: 5px 0;
    }

    .LocationHost {
        display: flex;
        max-width: 200px;
        align-items: center;
    }

    .LocationRating {
        display: flex;
        flex: 1;
    }
}