.error {
    color: tomato;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.error h1 {
    font-size: 280px;
    margin: 60px 0 0 0;
    font-weight: 700;
}

.error h3 {
    font-size: 36px;
    font-weight: normal;
}

.LinkToHome {
    margin: 80px 0;
}

.LinkToHome a {
    color: tomato;
}

@media screen and (max-width: 480px) {
    .error {
        width: 90%;
        margin: auto;
    }
    
    .error h1 {
        font-size: 38vw;
    }

    .error h3 {
        font-size: 4vw;
        font-weight: normal;
    }

    .LinkToHome {
        margin: 100px 0;
    }
}