.error {
    color: tomato;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.error h1 {
    font-size: 280px;
    margin: 120px 0 40px 0;
    font-weight: 700;
}

.error h3 {
    font-size: 36px;
    font-weight: normal;
}

.LinkToHome {
    margin: 100px 0;
}

.LinkToHome a {
    color: tomato;
}