.Footer {
    background-color: black;
    min-height:20vh;
    display: flex;
    flex-direction: column;
    margin: 40px 0 0 0;
    color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
}

.Footer h3 {
    font-weight: normal;
}